<div class="details-wrapper container">
    <div class="details__gradient-poster">
        <div class="title-card">
            <h3>Lorem, ipsum.</h3>
        </div>
    </div>
    <div class="details__info">
        <div class="poster"></div>
        <div class="description">
            <span class="title">Lorem ipsum dolor sit.</span>
            <span class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores pariatur illum
                laboriosam laudantium.
                Ipsa accusamus repudiandae asperiores cupiditate, unde dolorum excepturi expedita quia, commodi
                reprehenderit quasi explicabo est aperiam omnis?
            </span>
            <span class="rate">10</span>
            <div class="detailed-description">
                <small class="small">Lorem</small>
                <span class="span-primary-info">Lorem, ipsum.</span>
            </div>
        </div>
    </div>

</div>