<div class="muvies-wrapper container">
    <div class="muvies__page-info">
        <div class="user-name">
            <span>Some text</span>
        </div>
        <div class="page-title">
            <h1>Muvies</h1>
        </div>
        <div class="search">
            <app-search-box></app-search-box>
        </div>
    </div>
    <!-- <div class="muvies__cards">
        <div class="card-defauld" *ngFor="let card of films.results">
            <img src="https://image.tmdb.org/t/p/w500/{{card.poster_path}}" alt="">
            <span>{{card.title}}</span>
        </div>
    </div> -->
    <app-card></app-card>
</div>