//colors----------------------------------------
$bg-grey900: #121829;
$border-grey700: #323B54;
$bg-primary400: #7B6EF6;
$bg-black20: #00000033;
$bg_black10: #0000001A;

//text-color------------------------------------
$text-grey50: #EBEEF5;
$text-grey100: #C3C8D4;
$text-grey200: #A8AEBF;
$text-grey300: #8E95A9;
$text-grey400: #767E94;
$text-grey600: #475069;
$tetx-primary50: #EBE9FE;
$text-primary200: #BEB7FB;


//--------------------------------------------
$ff: 'Poppins', sans-serif;