<div class="dashboard-wrapper container">
    <div class="page-info">
        <div class="page-title">
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <h3 class="title-amount">{{movie}}</h3>
            <span class="card-description">Muvies</span>
        </div>
        <div class="card">
            <h3 class="title-amount">{{tv}}</h3>
            <span class="card-description">TV shows</span>
        </div>
        <div class="card">
            <h3 class="title-amount">{{suggestions}}</h3>
            <span class="card-description">Suggestions</span>
        </div>
        <div class="card">
            <h3 class="title-amount">00</h3>
            <span class="card-description">Manual Suggestions</span>
        </div>
    </div>
    <div class="links">
        <span class="links-title">Quick Links</span>
        <div class="links-row">
            <div class="links-card"><span>Suggestions</span></div>
            <div class="links-card"><span>Add</span></div>
        </div>
    </div>

</div>