<div class="card" *ngFor="let item of multiSearchData.results">
    <div class="card__poster">
        <img src="{{baseURL + item.poster_path}}" alt="">
        <span class="rate">
            {{item.vote_average}}
        </span>
    </div>
    <div class="card__title">
        <span class="title" *ngIf="item.name; else title">{{item.name}}</span>
        <ng-template #title>{{item.title}}</ng-template>
    </div>

    <div class="card__details">
        <span class="card__status" *ngIf="!item">Already watched</span>
        <span class="card__add-btn" (click)="suggest(item)">Suggest this</span>
    </div>
</div>